.sidebar {
  /* border: 2px solid yellow; */
  margin-top: 10px;
  flex: 0.3;
  max-width: 300px;
  padding: 5px;
  /* display: flex; */
  flex-direction: column;
  /* align-content: center; */
}

.sidebar__compose {
  border-radius: 24px !important;
  color: grey !important;
  margin: 10px 15px 15px 15px !important;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
  padding: 15px !important;
}

.sidebar__footerIcons {
  /* border: 2px solid red; */

  display: flex;
  align-items: center;
  justify-content: center;
}
