.mailRow {
  /* border: 1px solid forestgreen; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.mailRow:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  cursor: pointer;
}

.mailRow__icons {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  align-content: center;
  width: 300px;
}

.mailRow__icons * {
  /* border: 1px solid rgb(185, 122, 39); */
  font-size: medium;
  font-weight: 700;
  font-size: medium;
}

.mailRow__msg {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  width: fit-content;
}

.mailRow__msg > h4 > span {
  color: grey;
  font-weight: 500;
}

.mailRow__msg > h4 {
  /* border: 1px solid blue; */
  width: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* time */
.mailRow > p {
  /* border: 1px solid green; */
  font-weight: 500;
  margin-right: 15px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
